@model Task01.Models.ConferenceObjective
@{
    ViewData["Title"] = "إضافة هدف";
}

<h1 class="h3 mb-4">إضافة هدف للمؤتمر</h1>

<partial name="_Form" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
