@model Task01.Models.ConferenceObjective
@{
    ViewData["Title"] = "تعديل هدف";
}

<h1 class="h3 mb-4">تعديل هدف المؤتمر</h1>

<partial name="_Form" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
